:root {
  --electric-color: #33b6fe;
  --ether-color: #fe427e;
  --fire-color: #ff5623;
  --ice-color: #95eae9;
  --physical-color: #edcc2c;
}

body {
  background-color: #101820;
  color: #faf1ff;
  text-align: center;
}

h1 {
  text-align: center;
}

.electric-color {
  color: var(--electric-color);
}

.ether {
  color: var(--ether-color);
}

.fire {
  color: var(--fire-color);
}

.ice {
  color: var(--ice-color);
}

.physical {
  color: var(--physical-color);
}

.electric-card-header {
  background-color: var(--electric-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #212121;
}

.ether-card-header {
  background-color: var(--ether-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #212121;
}

.ice-card-header {
  background-color: var(--ice-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #212121;
}

.physical-card-header {
  background-color: var(--physical-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #212121;
}

.fire-card-header {
  background-color: var(--fire-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #212121;
}

.character-on-inventory {
  color: #ffffff; 
  border-radius: 10px;
  padding-bottom: 2vh;
  width: 45vw;
  background-color: #212121; 
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1) 
}

.char-info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  background-color: #000000;
  border-radius: 8px;
}

.char-info-grid div {
  padding: 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.materials ul {
  padding-left: 20px;
}

.materials li {
  list-style-type: disc;
}

.talent-materials {
  grid-column: span 2;
}

.talent-button {
  display: inline-block;
  border: 1px, solid, #edcc2c;
  padding: auto;
  border-radius: 4px;
  color: inherit;
  background-color: transparent;
}

.talent-button:hover {
  color: #000;
  background-color: #edcc2c;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 2rem;
}

.character-card {
  background-color: #ebe9e9;
  border-radius: 40px;
  border: 0.5rem, solid, #faf1ff;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem 0.5rem 0 0.5rem;
  text-align: center;
  text-decoration-line: none;
  width: 15%;
}

.character-card:hover {
  transform: scale(105%);
  transition: 0.1s;
  background-color: #e3f7fd;
}

.character-card:active {
  transform: scale(95%);
  background-color: rgb(152, 205, 255);
  transition: 0.01s;
  transform: translateY(4px);
}

.character-card p {
  color: #212121;
  margin: 0 !important; 
  padding: 0;
  margin: 1rem 0 0 0;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 2rem;
}

.character-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; 
  display: block;
  margin: 0 auto; 
}

.big-img {
  max-width: 35vh;
  height: auto;
  border-radius: 10px; 
  display: block;
  margin: 0 auto; 
}

@media (max-width: 600px) {

  h1 {
    font-size: 1.5rem;
  }

  .character-card {
    width: 90%; 
    margin: 1rem auto; 
  }

  .charImg {
    width: 70%;
  }

  .card-container {
    flex-direction: column;
    row-gap: 1.5rem;
    padding: 0;
  }

}

/* Ajuste adicional para pantallas medianas */
@media (max-width: 900px) {
  .character-card {
    width: 35%;
  }
  .character-on-inventory {
    width: 100%;
  }
}